<%- include('partials/header') %>

<div class="container">
  <form action="/register" method="POST">
    <div>
      <label for="name">Full Name</label>
      <input type="text" name="name" required />
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email"  required/>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" required/>
    </div>

    <div>
      <label for="password">Confirm password</label>
      <input type="password" name="conpassword" required />
    </div>

    <div>
      <label for="dob">Date of birth</label>
      <input type="text" name="dob" required />
    </div>

    <button type="submit">Register</button>
  </form>
</div>

<%- include('partials/header') %>
